/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 100%;
	background-color: #f1f1f1;
	position: fixed;
}
li a{
	display: block;
	text-decoration:none;
	margin: 0 20px;
	padding: 20px 40px;
	font-size: 1.2rem;
	

}
li a:hover{
	background-color: black;
	color: white;
	text-decoration: underline;
}
.line{
	 width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}*/
body{
	
}
.nav{
	position: fixed;
	height: 100%;
	width: 0;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 60px;
	transition: 0.5s;
	background-color: #111;
	overflow-x: hidden;
	/*opacity: 0.9;*/
}
.nav a{
	display: block;
	text-decoration:none;
	margin: 0 20px;
	padding: 20px 40px;
	font-size: 1.2rem;
	color: #ccc;
	transition: 0.3s;

}
.nav a:hover{
	background-color: grey;
	color: white;
	text-decoration: underline;
	transition: 0.4s;
}
.nav .close{
	position: absolute;
	top: 0;
	left: 0;

}
.side a{
	font-size: 1.5rem;
}
#main{
	transition: margin-left 0.5s;
}
.nav a:active{
	border-left: 5px solid red;
}
